* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: url(../img/background.gif); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    margin: 1em auto;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.main_div {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.main {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.438);
    border: 2px solid gray; */
}

.front {
    height: 4in;
    width: 250px;
    background: linear-gradient(135deg, rgb(220, 248, 197)5%, rgb(255, 255, 255));
    margin: 10px;
    /* border-top: 4px solid blue;
    border-bottom: 6px solid blue;
    border-left: 6px solid blue;
    border-right: 4px solid blue; */
    border-radius: 15px;
     box-shadow: 5px 5px 10px rgb(194, 194, 194);
}

.back {
    height: 4in;
    width: 250px;
    background: linear-gradient(135deg, rgb(255, 255, 255)5%, rgb(248, 197, 197));
    margin: 10px;
    /* border-top: 4px solid blue;
    border-bottom: 6px solid blue;
    border-right: 6px solid blue;
    border-left: 4px solid blue; */
    border-radius: 15px;
     box-shadow: 5px 5px 10px rgb(194, 194, 194);
}

.frame {
    width: 100px;
    height: 120px;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 5px;
    transform: translate(75%, 45%);
    overflow: hidden;
    position: absolute;
    object-fit: cover;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.418); */
}

.info1 {
    height: 200px;
    width: 240px;
    /* border: 2px solid gray; */
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    padding: 0;
    position: relative;
}

table {
    /* border: 1px solid black; */
    padding-left: 8px;
}

td {
    /* border: 1px solid black;  */
    padding-bottom: 10px;
    padding-left: 10px;
}

tr{
    vertical-align: top;
}

.colon {
    color: #0505ff;
    font-weight: bold;
}

.college {
    position: absolute;
    font-size: 10px;
    text-align: center;
    padding-left: 65px;
    padding-top: 10px;
    word-spacing: 2px;
    color: rebeccapurple;
    font-weight: bold;
}

.college1 {
    position: absolute;
    height: 80px;
    width: 80px;
    margin: 5px 0 0 5px;
}


p {
    font-size: 20px;
    color: blue;
    margin: 0px;
    text-align: center;
    padding: 10px;
}


.value1 {
    color: rgb(39, 38, 38);
    font-size: 14px;

}

.value2 {
    color: rgba(75, 74, 74, 0.808);
    font-size: 14px;
}

.info2 {
    position: relative;
    height: 290px;
    width: 240px;
    /* border: 2px solid gray; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}

.sign {
    transform: translate(160%, 450%);
    font-size: 12px;
    word-spacing: 5px;
    position: absolute;
    color: #032ff4;
}

#sign {
    transform: translate(70%, 230%);
    width: 150px;
    height: 50px;
    position: absolute;
}

.infoImp{
    font-size: 10px;
    padding-left:30px;
    padding-right: 10px; 
    color: maroon;
}


#confetti-holder {
    position: absolute;
    height: 100vh;

}

@media (max-width: 800px) {
    .main {
        width: 100vw;
        display: flexbox;
        margin-top: 100px;
    }

    #confetti-holder {
        width: 100vw;
        height: 100vh;
    }

    body {
        background-position: center;
    }

}

@media (max-width: 400px) {
    .main {
        width: 280px;
        display: flexbox;
        margin-top: 100px;
    }

    #confetti-holder {
        width: 100vw;
        height: 100vh;
    }

    body {
        background-position: center;
    }

}

@media print {
    body {
        display: none;
    }
}